{% extends "blog/base_blog.html" %}

{% load i18n %}
{% load static %}

{% block title %}{% if page_number != 0 %}Page {{page_number}}{% else %}Home Page{% endif %}{% endblock %}

{% block body %}
{% include "blog/posts_list.html" %}

<div style="text-align: center;">
    {% if prev_posts != None %}
    <a class="button_blue" href="{% url 'index' prev_posts %}">{% trans "◀ Previous posts" %}</a>
    {% endif %}

    {% if next_posts != None %}
    <a class="button_blue" href="{% url 'index' next_posts %}">{% trans "Next posts ▶" %}</a>
    {% endif %}
</div>
{% endblock %}
